html {
    box-sizing: border-box;
    margin: 0;
    background-color: hsl(0, 0%, 95%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.car-type {
    max-width: 57.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: left;
}

.car-img {
    margin: 2rem 0;
}

.car-header {
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}

.car-description {
    color: hsla(0, 0%, 100%, 0.75);
    line-height: 1.5em;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    width: 85%;
    height: 30%;
    font-size: 0.9rem;
    padding: 5% 6% 5% 0;
    margin: 1rem 0;
}

.car-button {
    mix-blend-mode: lighten;
    border: none;
    border-radius: 5rem;
    border: 0.05rem solid white;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 300;
    font-size: 0.9rem;
    display: inline-block;
    padding: 5% 9%;
    margin: 2rem 0;
}

.car-button:hover, .car-button:focus {
    border: 0.05rem solid white;
    background-color: transparent;
    color: white
}

.car-type--sedan, .car-type--suv, .car-type--luxury {
    width: 32%;
    padding: 3%;
}

.car-type--sedan {
    border-radius: 0.3rem 0rem 0rem 0.3rem;
}


.car-type--suv {
    border-radius: 0.3rem;
}

.car-type--luxury {
    border-radius: 0rem 0.3rem 0.3rem 0rem;;
}


.car-type--sedan {
    background-color: hsl(31, 77%, 52%);
}

.car-type--suv {
    background-color: hsl(184, 100%, 22%);
}

.car-type--luxury{
    background-color: hsl(179, 100%, 13%);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    width:100%;
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.7rem;
}

@media only screen and (max-width: 375px){

    body {
        padding: 5% 0 5% 0;
    }
    .car-type {
        flex-direction: column;
    }
    .car-type--sedan, .car-type--suv, .car-type--luxury {
        width: 75%;
        margin: 0 5% 0 12%;
        padding-left: 10%;
    }

    .car-type--sedan {
        border-radius: 0.3rem;
    }

    .car-type--luxury {
        border-radius: 0rem 0rem 0.3rem 0.3rem;
    }

    footer {
        display: none;;
    }
}
