
body {
    background-color: hsl(225, 100%, 94%);
    margin-top: 0%;
}


section{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content {
    /*border: 1px solid grey;*/
    max-width: 325px;
    margin: auto;
    height: 55vh;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
    background-color:whitesmoke;
    /*border-radius: 5%;*/
    
}

.img_hero img {
    width: 325px;
}


.order_summary {
    text-align: center;
    font-size: 20px;
    /*font-family: ; */
}

.order_summary p {
    font-size: 16px;
    text-align: center;
    margin: 10px;
    /*font-family: ; */
}

.annual_plan {
    display: flex;
    align-items: center;
    background-color: hsl(227, 39%, 95%);
    margin: 8%;
    border-radius: 5%;
}

.annual_plan .img_icon_music {
    margin: 5%
    
}

.annual_plan .annual_plan_change {
    margin-right: 5%;
}



.payment{
    margin: 8%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.payment .button_payment {
    font-size: 14px;
    text-decoration: none;
    width: 310px;
    padding: 4%;
    box-shadow: 0px 10px 14px -7px grey;
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.cancel_order {
    text-decoration: none;
    color: grey;
}
