body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

main, footer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    margin: 15% 35%;
    max-width: 22rem;
    max-height: 37.25rem;
    border-radius: 1rem;
    background-color: hsl(216, 50%, 16%);
}

.content {
    margin: 1.5rem;
}

/* Image Equilibrium */

.image-equilibrium {
    position: relative;
    width: 100%;
    max-width: 25rem;
  }

.image-equilibrium img {
    max-width: 18.87rem;
    max-height: 18.87rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.1s;
    border-radius: 0.5rem;
    background-color: hsl(178, 100%, 50%);
  }

  .image-equilibrium:hover .overlay {
    opacity: 0.6;
  }

  .icon {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

.bi bi-eye-fill:hover {
    color: white;
  }

/* Equilibrium Text */

.d-equilibrium a {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    color: hsl(0, 0%, 100%);
    font-weight: normal;
    text-decoration: none;
}

a.d-equilibrium--link:hover, a.avatar-creator:hover {
    color: hsl(178, 100%, 50%);
}

.d-equilibrium p {
    color: hsl(215, 51%, 70%);
    font-size: 1.125rem;
    font-weight: lighter;
    margin-top: 1rem;
    max-width: 100%;
}

/* Details */

.div-details {
    display: flex;
    justify-content: space-between;
    max-height: 1.25rem;
    max-width: 18.813rem;
    margin: 1.563rem 0;
}

.div-details .div-details--eth {
    display: flex;
    align-items: center;
    width: 50%;
}

.div-details--eth img {
    width: 0.75rem;
    height: 1.25rem;
}

.div-details--eth-number {
    color: hsl(178, 100%, 50%);
    padding-left: 5%;
}

.div-details .div-details--time {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.div-details .div-details--time img {
    width: 1.15rem;
    height: 1.15rem;
    margin: 2% 4% 0 0;
}

.div-details--time-days {
    color:  hsl(215, 51%, 70%);
    font-weight: lighter;
    width: 4.563rem;
    height: 1.25rem;
}

/* Creator */

.avatar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-height: 2.063rem;
    margin: 0.75rem 5.75rem 2rem 0;
}

.avatar img {
    width: 2.063rem;
    height: 2.063rem;
    border-radius: 25rem;
    border: 0.063rem solid white;
}

.avatar span {
    font-size: 1rem;
    font-weight: 18.75rem;
    color: hsl(215, 51%, 70%);
    font-weight: lighter;
    width: 100%;
    padding: 1%;
    margin: 0 0 2% 4%;
}

.avatar a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

hr {
    max-width: 18.875rem;
    border-color: hsl(215, 32%, 27%);
}

footer {
    margin: 1%;
    color: hsl(215, 51%, 70%);
    font-weight: lighter;
}

footer a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

@media only screen and (max-width: 375px) {
    .d-equilibrium p {
        max-width: 90%;
    }

    .image-equilibrium img {
        max-width: 17.5rem;
        max-height: 17.5rem;
    }

    footer {
        font-size: 0.85rem;
    }
}
